@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px; 
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --white-offwhite:#E8EAEA;
    --orange-lightorange:#F2B654;
    --orange-visualidentityorange:#E49311;
    --blue-visualidentity:#2A5AF4;
    --black-offblack:#020027;

    --gray-oldvisualidenty: #676767;

    --fonte-padrao: 'open sans';
    --fonte-destaque: 'Candara';
}

::before,::after {
    box-sizing: border-box;
}

/*
-------> CTRL+F para ir para as secções:
START LOADER
START HEADER AND STARTING SCREEN
START HOME PAGE
START CONTADOR
START PYRAMID
START CATEGORIAS
START HORÁRIO
START FOTOS
START JÚRIS
START PARCEIROS
START FAQ
START TEAM
START ORGANIZAÇÃO
START FOOTER
*/

/* Show it is fixed to the top */
body {
    background-color: var(--white-offwhite);

    line-height: 1.5;
    font-size: 16px;
    font-family: var(--fonte-padrao);
}

body::-webkit-scrollbar-track{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius:0;
	background-color: transparent;
}

body::-webkit-scrollbar{
	width: 0.65rem;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb{
	border-radius: 2rem;
	background-color: rgb(167, 167, 167);
    border: 1px solid white;
}

.main-container{
    height: 100%;
    width: 100%;
}


/*============================== START LOADER ==============================*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.loader img {
    width: 17%;
}

.text-preloader {
    color: var(--orange-visualidentityorange);
}

@media only screen and (min-width: 1200px) and (max-width: 1399.98px),
(min-width: 992px) and (max-width: 1199.98px) {
  .loader img {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
(max-width: 767.98px) {
  .loader img {
    width: 25%;
  }
}

@media (max-width: 575.98px) {
  .loader img {
    width: 45%;
  }
}

.disappear {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
/*============================== END LOADER ==============================*/

/* ======================= START HEADER AND STARTING SCREEN ======================= */
a .nav-link {
    text-decoration: none;
    background-color: #0D0D0D;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 6rem;
    padding: 8px 7rem;
    font-family: var(--fonte-padrao);
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99999;
}

header .options {
    display: flex;
}

header .logo-header img {
    width: auto;
    height: 90px;
    translate: 0 -0.1rem;
}

header .nav-bar {
    display: flex;
    align-items: center;
}

header .nav-bar .nav-option {
    padding: 1rem;
    text-decoration: none;
    color: #444444;
    transition: 0.3s;
    font-weight: 500;
}

header .nav-bar .nav-option:hover {
    color: var(--orange-visualidentityorange);
}

header .languages {
    display: flex;
    align-items: center;
    margin: 1rem;
}

header .languages li {
    list-style-type: none;
}

header #pt img, 
header #en img{
    width: 2.1rem;
    margin: 0.2rem;
}

.container-menu-nav {
    display: none;
    align-items: center;
    margin: 1.5rem 2rem;
    cursor: pointer;
}

.menu-nav {
    transform: scale(var(--ggs,1))
}
.menu-nav,
.menu-nav::after,
.menu-nav::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: currentColor;
    color: var(--gray-oldvisualidenty);
}

.menu-nav::after,
.menu-nav::before {
    content: "";
    position: absolute;
    top: -9px
}

.menu-nav::after {
    top: 9px
}

.options-phone {
    display: none;
    position: fixed;
    z-index: 999;
    text-align: center;
    margin: auto;
    height: 32rem;
    width: 100%;
    padding-top: 6rem;
    background-color: white;
    justify-content: center;
    box-shadow: 2px 0px 10px #000;
}

.options-phone .nav-option {
    padding: 1rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--gray-oldvisualidenty);
}

.options-phone img {
    width: 60px;
}

.options-phone .nav-bar-phone {
    display: block;
}

.options-phone .languages-phone {
    padding: 0.5rem 1rem 1rem 1rem;
}

@media only screen and (max-width: 1120px){
    .container-menu-nav {
        display: flex;
    }
    header .nav-bar, header .languages {
        display: none;
    }
}

@media only screen and (max-width: 970px) {
    header {
        padding: 8px 6%;
    }
}
/* ======================= END HEADER AND STARTING SCREEN ======================= */

/* ======================= START HOME PAGE ======================= */
.home-page {
    position: relative;
    width: 100%;
    height:88vh;
    color: #fff;
    display: flex;
    font-family: var(--fonte-padrao);
}

.home-page .home-page-background {
    background-image: url('../img/logos/home-page.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2; 
    margin-top: 6rem;
    height: 100%;
    width: 100%;
    display: flex;
}

.home-page .home-page-background::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black-offblack);
    z-index: -1;
    opacity: 65%;
}

.home-page .home-page-background .home-page-content-left {
    width: 60%;
}

.home-page .home-page-background .home-page-content-left .home-page-title {
    height: 25rem;
    bottom: 4rem;
    left: 4rem;
    position: absolute;
}

.home-page .home-page-background .home-page-content-left .home-page-title .home-page-element {
    height: 100%;
    width: 30%;
    background-color: var(--orange-visualidentityorange);
}

.home-page .home-page-background .home-page-content-left .home-page-title .home-page-element .home-page-element-front {
    background-color: var(--black-offblack);
    height: 100%;
    width: 100%;
    translate: 1.5rem -1.5rem;
}

.home-page .home-page-background .home-page-content-left .home-page-title .home-page-element .home-page-element-text {
    width: 200%;
    padding: 13rem 3rem;
}

.home-page .home-page-background .home-page-content-left .home-page-title .home-page-element .home-page-element-text h1 {
    font-size: 3.2rem;
    font-family: var(--fonte-padrao);
    font-weight: 800;
}

.home-page .home-page-background .home-page-content-right {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
    position: relative;
}

.home-page .home-page-background .home-page-content-right-img {
    padding: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.home-page .home-page-background .home-page-content-right-img img {
    width: 150px;
    height: auto;
}


/*
.home-page .background .home-page-content .button-home {
    padding: 0.7rem 1.8rem;
    border: none;
    color: #fff;
    background-color: var(--orange-visualidentityorange);
    border-radius: 4rem;
    transition: 0.4s;
}

.home-page .background .home-page-content .button-home:hover {
    color: var(--orange-visualidentityorange);
    background-color: #fff;
}
*/

@media only screen and (max-width: 890px) {
    .home-page .home-page-background {
        display: block;
    }

    .home-page .home-page-background .home-page-content-left {
        width: 100%;
    }

    .home-page .home-page-background .home-page-content-left .home-page-title {
        position: relative;
        padding-top: 5rem;
    }

    .home-page .home-page-background .home-page-content-left .home-page-title .home-page-element .home-page-element-text {
        width: 40rem;
        padding: 2rem 2rem;
    }

    .home-page .home-page-background .home-page-content-left .home-page-title .home-page-element .home-page-element-front {
        translate: 1.5rem 1.5rem;
    }

    .home-page .home-page-background .home-page-content-right {
        width: 100%;
    }

    .home-page .home-page-background .home-page-content-right .container-demo {
        padding: 0.5rem;
    }

    .home-page .home-page-background .home-page-content-right .container-demo h4 {
        margin-top: 0.5rem;
    }

    .home-page .home-page-background .home-page-content-right-img img {
        width: 100px;
        height: auto;
    }
}

@media only screen and (max-width: 680px) {
    .home-page .home-page-background .home-page-content-left .home-page-title {
        padding-top: 6.5rem;
        left: 4.5rem;
    }

    .home-page .home-page-background .home-page-content-left .home-page-title .home-page-element {
        width:35%;
    }

    .home-page .home-page-background .home-page-content-left .home-page-title .home-page-element .home-page-element-front {
        translate: 1rem 1rem;
    }

    .home-page .home-page-background .home-page-content-left .home-page-title .home-page-element .home-page-element-text {
        width: 20rem;
    }

    .home-page .home-page-background .home-page-content-left .home-page-title .home-page-element .home-page-element-text h1 {
        font-size: 2rem;
    }

    .home-page .home-page-background .home-page-content-left .home-page-title .home-page-element .home-page-element-text p {
        font-size: 0.65rem;
    }

    .home-page .home-page-background .home-page-content-right .container-demo h4 {
        font-size: 1rem;margin-bottom: 0;
    }
}

/* ======================= END HOME PAGE ======================= */

/* ======================= START CONTADOR ======================= */
.container-demo {
    height: 80%;
    padding: 4rem 0;
    display: flex;
}

.container-demo .container-demo-center {
    display: block;
    margin: auto;
}

.container-demo .title-demo {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.container-demo .timer-demo {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-demo .demo-card {
    position: relative;
}

.container-demo .demo-card .demo-line {
    height: 100%;
    width: 80%;
    translate: 12.5%;
    border-radius: 1rem;
    position: absolute;
    border: 3px solid var(--blue-visualidentity);
}

.container-demo .demo-days,
.container-demo .demo-hours,
.container-demo .demo-minutes,
.container-demo .demo-seconds {
    position: relative;
    height: 8.2rem;
    width: 6rem;
    margin: 0.3rem;
    padding: 1rem 0;
    border-radius: 1rem;
    background-color: var(--black-offblack);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.container-demo .timer-demo h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--white-offwhite);
}

.container-demo .timer-demo span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-offwhite);
}

@media only screen and (max-width: 1120px) {
    .container-demo .title-demo {
        margin-top: 4rem;
    }

    .container-demo .timer-demo {
        height: 8rem;
    }

    .container-demo .demo-days,
    .container-demo .demo-hours,
    .container-demo .demo-minutes,
    .container-demo .demo-seconds {
        height: 6rem;
        width: 4.6rem;
        margin: 0.2rem;
        padding: 0.7rem 0;
    }

    .container-demo .timer-demo h1 {
        font-size: 2.2rem;
    }

    .container-demo .timer-demo span {
        font-size: 0.7rem;
    }
}
/* ======================= END CONTADOR ======================= */

/* ======================= START PYRAMID ======================= */
.pyramid {
    height: 50 rem;
    width: 100%;
    display:block;
    align-items: center;
    background-color: #E8EAEA;
    justify-content: center;
    font-family: var(--fonte-padrao);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.pyramid .pyramid-title {
    color: #000;
    justify-content: center;
    text-align: center;
}

.pyramid .pyramid-title mark.orange {
    color: var(--orange-lightorange);
    background: none;
}

.pyramid .pyramid-container {
    align-items:center;
    display:flex;
    width: 60rem;
    margin: auto;
}

.pyramid .pyramid-container .pyramid-imagebox {
    display:inline-block;
    text-align: center;
}

.pyramid .pyramid-container .pyramid-imagebox .pyramid-img1 img {
    background: none;
    width: auto;
    height:8rem;
 }

.pyramid .pyramid-container .pyramid-imagebox .pyramid-img1:hover {
    transition:.5s;
    filter: drop-shadow(0 3px 8px rgb(136, 136, 136));
}

.pyramid .pyramid-container .pyramid-imagebox  .pyramid-img2 img{
    background: none;
    width: auto;
    height:7rem;
}

.pyramid .pyramid-container .pyramid-imagebox .pyramid-img2:hover {
    transition:.5s;
    filter: drop-shadow(0 3px 8px rgb(136, 136, 136));
}

.pyramid .pyramid-container .pyramid-button {
    display: inline-block;
    padding-right: 2rem;
 }

.pyramid .pyramid-container .pyramid-button .button1 {
    height:1rem;
    width: 1rem;
    border: 0;
    background-color: white;
    border-radius: 50%;
 }

 .pyramid .pyramid-container .pyramid-button .button2 {
    height:1rem;
    width: 1rem;
    border: 0;
    background-color: black;
    border-radius: 50%;
 }


.pyramid .pyramid-container .pyramid-button .button1:hover {
    transition:.5s;
    filter: drop-shadow(0 3px 8px rgb(136, 136, 136));
}

.pyramid .pyramid-container .pyramid-button .button2:hover {
    transition:.5s;
    filter: drop-shadow(0 3px 8px rgb(136, 136, 136));
}


.pyramid .pyramid-container .pyramid-text1 {
    align-items:right;
    font-size: 110%;
}

.pyramid .pyramid-container .pyramid-text1 .sbt1{
    background-color: #E8EAEA;
    align-items:right;
    font-family:var(--fonte-destaque);
    font-size: 140%;
}

.pyramid .pyramid-container .pyramid-text2 {
    align-items:right;
    font-size: 110%;
}  

.pyramid .pyramid-container .pyramid-text2 .sbt2{
    background-color: #E8EAEA;
    align-items:right;
    font-family: var(--fonte-destaque);
    font-size: 140%;
}   

@media only screen and (max-width: 963px){
    .pyramid {
        height: 60 rem;
        width: auto;
    }

    .pyramid .pyramid-container {
        display:inline-block;
        width: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .pyramid .pyramid-container .pyramid-imagebox {
        margin: auto;
        align-items:center;
        justify-content: center;
        padding-left: 10%;
    }

    .pyramid .pyramid-container .pyramid-imagebox  .pyramid-img1 img{
        margin: auto;
        width: auto;
        height:6rem;
    }

    .pyramid .pyramid-container .pyramid-imagebox  .pyramid-img2 img{
        margin: auto;
        width: auto;
        height:5rem;
    }
    

    .pyramid .pyramid-container .pyramid-button {
        display: inline-block;
        padding-left: 40%;
     }

     .pyramid .pyramid-container .pyramid-text1 {
        font-size: 80%;
    }
    
    .pyramid .pyramid-container .pyramid-text1 .sbt1{
        font-size: 120%;
    }
    
    .pyramid .pyramid-container .pyramid-text2 {
        font-size: 80%;
    }  
    
    .pyramid .pyramid-container .pyramid-text2 .sbt2{
        font-size: 120%;
    }   
}

/* ======================= END PYRAMID ======================= */

/* ======================= START CATEGORIAS ======================= */
.categorias {
    height: 55rem;
    background-color: var(--black-offblack);
    display: flex;
}

.categorias .categorias-container {
    width: 50rem;
    height: 40rem;
    margin: auto;
}

.categorias .categorias-container .categorias-title {
    text-align: center;
    padding-bottom: 2rem;
}

.categorias .categorias-container .categorias-title h1 {
    font-size: 3.5rem;
    color: var(--white-offwhite);
    margin-bottom: 0.8rem;
}

.categorias .categorias-container .categorias-title .line-title {
    height: 0.4rem;
    width: 6rem;
    background-color: var(--orange-visualidentityorange);
    margin: auto;
    display: none;
}

.categorias .categorias-container .cat-bloco {
    display: flex;
}

.categorias .categorias-container .cat-bloco .cat-background {
    margin-top: 2rem;
    height: 6rem;
    width: 50rem;
    position: absolute;
    background-color: var(--orange-visualidentityorange);
    z-index: 1;
}

.categorias .categorias-container .cat-bloco .cat-card {
    z-index: 2;
    background-color: var(--white-offwhite);
    margin: 0 1rem;
    width: 23rem;
    text-align: center;
    padding: 2.5rem 2.2rem 3rem 2.2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translateZ(20px)
}

.categorias .categorias-container .cat-bloco .cat-card h2 {
    color: var(--orange-visualidentityorange);
}

.categorias .categorias-container .cat-bloco .cat-card p {
    padding: 0.6rem 0;
    font-size: 0.9rem;
}

.categorias .categorias-container .cat-bloco .cat-card img {
    width: auto;
    height: auto;
}

.categorias .categorias-container .cat-bloco .cat-card h2,
.categorias .categorias-container .cat-bloco .cat-card img,
.categorias .categorias-container .cat-bloco .cat-card p {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translateZ(20px)
}

@media only screen and (max-width: 900px){
    .categorias {
        height: 84rem;
        display: block;
        padding: 5rem 0;
    }

    .categorias .categorias-container {
        width: auto;
    }

    .categorias .categorias-container .categorias-title .line-title {
        display: block;
    }

    .categorias .categorias-container .cat-bloco .cat-background {
        display: none;
    }

    .categorias .categorias-container .cat-bloco {
        display: block;
    }

    .categorias .categorias-container .cat-bloco .cat-card {
        margin: 0 auto 2rem auto;
    }
}

/* ======================= END CATEGORIAS ======================= */

/* ======================= START HORÁRIO ======================= */
.schedule  h2 {
    text-align: center;
    font-size: 4rem;
    color: var(--orange-visualidentityorange);
}

.schedule  p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--orange-lightorange);
}

.schedule {
    background-color: var(--white-offwhite);
}

.schedule .schedule-box {
    padding: 3px;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: end;
}

.schedule .schedule-box .button-box {
    position: absolute;
}

.schedule .schedule-box .button-box .button-div {
    display: flex;
    justify-content: end;
}

.schedule .schedule-box .my-button {
    margin: 0.4rem;  
    border-radius: 25px;
    width: 40px;
    height: 40px;
    background-color: var(--orange-visualidentityorange);
    border: none;
    cursor: pointer;
    position: relative;
  }
  
.schedule .schedule-box .button-box .plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.schedule .schedule-box .button-box .plus-line {
    width: 15px;
    height: 3px;
    background-color: var(--white-offwhite);
    position: absolute;
}
  
.schedule .schedule-box .button-box .plus-line-horizontal {
    transform: rotate(0deg);
}
  
.schedule .schedule-box .button-box .plus-line-vertical {
    transform: rotate(90deg);
}

.schedule .schedule-box .button-box .my-button:hover {
    background-color: var(--white-offwhite);
}

.schedule .schedule-box .button-box .my-button:hover .plus-line {
    background-color: var(--orange-visualidentityorange);
}

.schedule .schedule-box .button-box .dropdown {
    border-radius: 20px;
    width: 150px;
    height: 50px;
    background-color: var(--orange-visualidentityorange);
    display: none;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-offwhite);
}

  
.schedule .schedule-box .button-box .dropdown .top-section {
    flex: 1;
    background-color: var(--orange-visualidentityorange);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--white-offwhite);
}
  
.schedule .schedule-box .button-box .dropdown .bottom-section {
    flex: 1;
    background-color: var(--orange-visualidentityorange);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--white-offwhite);
}

.schedule .schedule-box .button-box .dropdown .top-section:hover {
    background-color: var(--white-offwhite);
    color: var(--orange-visualidentityorange);
}

.schedule .schedule-box .button-box .dropdown .bottom-section:hover {
    background-color: var(--white-offwhite);
    color: var(--orange-visualidentityorange);
}

.schedule .schedule-box .button-box .dropdown h2:hover {
    color: var(--orange-visualidentityorange);
}

.schedule .schedule-box .button-box .dropdown h2:hover {
    color: var(--orange-visualidentityorange);
}

@media only screen and (max-width: 2560px) {
    .schedule  h2 {
        font-size: 100px;
    }
    
    .schedule  p {
        font-size: 40px;
    }

    .schedule .schedule-box .img-box img{
        width: 1920px;
        height: 1300px;
    }

    .schedule .schedule-box {
        width: 1920px;
    }

    .schedule .schedule-box .my-button {
        border-radius: 100px;
        width: 125px;
        height: 125px;
    }

    .schedule .schedule-box .button-box .plus-line {
        width: 45px;
        height: 7px;
    }

    .schedule .schedule-box .button-box .dropdown {
        border-radius: 40px;
        width: 300px;
        height: 100px;
        font-size: 2rem;
    }
    
      
    .schedule .schedule-box .button-box .dropdown .top-section {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
      
    .schedule .schedule-box .button-box .dropdown .bottom-section {
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
}

@media only screen and (max-width: 2020px) {
    .schedule  h2 {
        font-size: 80px;
    }
    
    .schedule  p {
        font-size: 32px;
    }

    .schedule .schedule-box .img-box img{
        width: 1536px;
        height: 1040px;
    }

    .schedule .schedule-box {
        width: 1536px;
    }

    .schedule .schedule-box .my-button {
        border-radius: 80px;
        width: 100px;
        height: 100px;
    }

    .schedule .schedule-box .button-box .plus-line {
        width: 36px;
        height: 5.6px;
    }

    .schedule .schedule-box .button-box .dropdown {
        border-radius: 36px;
        width: 240px;
        height: 80px;
        font-size: 1.6rem;
    }
    
      
    .schedule .schedule-box .button-box .dropdown .top-section {
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
    }
      
    .schedule .schedule-box .button-box .dropdown .bottom-section {
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
    }
}

@media only screen and (max-width: 1636px) {
    .schedule  h2 {
        font-size: 64px;
    }
    
    .schedule  p {
        font-size: 25.6px;
    }

    .schedule .schedule-box .img-box img{
        width: 1228.8px;
        height: 832px;
    }

    .schedule .schedule-box {
        width: 1228.8px;
    }

    .schedule .schedule-box .my-button {
        border-radius: 64px;
        width: 80px;
        height: 80px;
    }

    .schedule .schedule-box .button-box .plus-line {
        width: 28.8px;
        height: 4.48px;
    }

    .schedule .schedule-box .button-box .dropdown {
        border-radius: 28.8px;
        width: 192px;
        height: 64px;
        font-size: 1.28rem;
    }
    
      
    .schedule .schedule-box .button-box .dropdown .top-section {
        border-top-left-radius: 25.6px;
        border-top-right-radius: 25.6px;
    }
      
    .schedule .schedule-box .button-box .dropdown .bottom-section {
        border-bottom-left-radius: 25.6px;
        border-bottom-right-radius: 25.6px;
    }
}

@media only screen and (max-width: 1328.8px) {
    .schedule  h2 {
        font-size: 51.2px;
    }
    
    .schedule  p {
        font-size: 20.48px;
    }

    .schedule .schedule-box .img-box img{
        width: 983.04px;
        height: 665.6px;
    }

    .schedule .schedule-box {
        width: 983.04px;
    }

    .schedule .schedule-box .my-button {
        border-radius: 51.2px;
        width: 64px;
        height: 64px;
    }

    .schedule .schedule-box .button-box .plus-line {
        width: 23.04px;
        height: 3.584px;
    }

    .schedule .schedule-box .button-box .dropdown {
        border-radius: 23.04px;
        width: 153.6px;
        height: 51.2px;
        font-size: 1.024rem;
    }
    
      
    .schedule .schedule-box .button-box .dropdown .top-section {
        border-top-left-radius: 20.48px;
        border-top-right-radius: 20.48px;
    }
      
    .schedule .schedule-box .button-box .dropdown .bottom-section {
        border-bottom-left-radius: 20.48px;
        border-bottom-right-radius: 20.48px;
    }
}

/* ======================= END HORÁRIO ======================= */

/* ======================= START FOTOS ======================= */
/* ======================= END FOTOS ======================= */

/* ======================= START JÚRIS ======================= */
.judges {
    height: 50 rem;
    width: 100%;
    display:block;
    align-items: center;
    background-color: #E8EAEA;
    justify-content: center;
    font-family: var(--fonte-padrao);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.judges .judges-title {
    color: #000;
    justify-content: center;
    text-align: center;
}

.judges .judges-title mark.laranja {
    color: var(--orange-lightorange);
    background: none;
}
/* ======================= END JÚRIS ======================= */

/* ======================= START PARCEIROS ======================= */
.partners-container {
    height: 60rem;
    padding: 8rem;
}

.partners-container h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.partners-container .circles-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles-container .circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url("path-to-image");
    background-color: black;
    margin: 10px;
}
/* ======================= END PARCEIROS ======================= */

/* ======================= START FAQ ======================= */
.faq {
    width: 100%;
    background-color: var(--white-offwhite);
}

.faq .faq-container {
    height: 45rem;
    width: 100%;
    padding: 0;
    margin: auto;
    display: flex;
}

.faq .faq-container .faq-container-left {
    display: block;
    width: 35%;
    background-image: url('../img/photos/faq-photo.png');
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}

.faq .faq-container .faq-container-left::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--black-offblack);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 60%;
    z-index: -1;
}

.faq .faq-container .faq-container-left h1 {
    font-size: 10rem;
    margin-top: 6rem;
    padding-bottom: 3rem;
    translate: -0.7rem;
}

.faq .faq-container .faq-container-left .faq-container-align {
    width: min-content;
    margin: auto;
    position: relative;
}

.faq .faq-container .faq-container-left .faq-container-align::after {
    content: "";
    width: 1rem;
    height: 85%;
    background-color: var(--orange-visualidentityorange);
    position: absolute;
    translate: -1.6rem;
    bottom: 0;
    left: 0;
}

.faq .faq-container .faq-container-left p {
    font-size: 1rem;
    text-align: left;
    margin: 0;
}

.faq .faq-container .faq-container-right {
    display: block;
    width: 65%;
    padding: 9% 5rem;
}

.faq .faq-container .faq-container-right ul {
    padding: 0;
    margin: 0;
}

.faq .faq-container .faq-container-right ul li {
    border-radius: 5px;
    list-style-type: none;
    background-color: white;
    transform: translateY(0.45em);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.faq .faq-container .faq-container-right ul li .question {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin: 2px 0px;
    border-radius: 5px;
    transition: 0.6s;
    cursor: default;
}

.faq .faq-container .faq-container-right .tira {
    position: absolute;
    height: 100%;
    width: 10px;
    background-color: var(--orange-visualidentityorange);
    border-radius: 5px 0 0 5px;
}

.faq .faq-container .faq-container-right p {
    color: var(--gray-oldvisualidenty);
    background-color: white;
    border-radius: 5px;
    margin: 0;
}

.faq .response-1, .faq .response-2, .faq .response-3, .faq .response-4, .faq .response-5, .faq .response-6, .faq .response-7 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out;
    padding: 0 35px;
}

.faq #seta {
    position: relative;
    padding: 6px;
    box-shadow: 2px -2px 0 0.5px var(--orange-visualidentityorange) inset;
    margin: 4px 4px 4px 30px;
    height: 50%;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    float: right;
    cursor: pointer;
    transition: 0.4s;
}

@media only screen and (max-width: 880px) {
    .faq .faq-container {
        width: 40rem;
        height: 45rem;
    }
}

@media only screen and (max-width: 700px) {
    .faq .faq-container {
        width: auto;
        padding: 10% 1rem;
    }
    .faq .faq-container .faq-container-right ul li span {
        width: 100%;
        max-width: 70%;
    }
}
/* ======================= END FAQ ======================= */

/* ======================= START TEAM ======================= */
.team-container {
    height: 40rem;
    padding: 8rem;
}

.team-container h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.team-container .equipa-box {
    width: 50rem; 
    height: 30rem;
    background-color: red;
    margin:auto; 
}

.team-container .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(3, 10rem);
}

.grid-item img {
    width: 100%;
    height: 100%;
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    border: 3px solid rgb(26, 226, 0);
}

.team-container .grid-container .nome-membro {
    height: 4rem;
    width: 9.8rem;
    margin-top: 6rem;
    position: absolute;
    background-color: rgb(26, 226, 0);
}
.nome, 
.cargo{
    font-size: 12px;
    font-weight: 600;
    position: center;
    padding: 0.6rem;
}
/* ======================= END TEAM ======================= */
/* ======================= START BEST ======================= */
.best {
    width: 100%;
    display:block;
    padding: 8rem 4rem;
    align-items: center;
    background-color: var(--white-offwhite);
    justify-content: center;
}

.best .best-title {
    color: #000;
    justify-content: center;
    text-align: center;
    padding-bottom: 5rem;
}

.best .best-title mark.orange {
    color: var(--orange-lightorange);
    background: none;
}

.best .best-container {
    align-items:center;
    display:flex;
}

.best .best-container .best-imagebox {
    position:relative;
}

.best .best-container .best-imagebox .best-img1 img {
    align-items:center;
    background: none;
    width: 40rem;
    height:26rem;
 }

/*.best .best-container .best-imagebox .best-img1:hover {
    transition:.5s;
    filter: drop-shadow(0 3px 8px rgb(136, 136, 136));
}*/

.best .best-container .best-imagebox .best-button-box{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin:auto;
    width: 200px;
    height: 35px;
    background-color: var(--orange-visualidentityorange);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.best .best-container .best-imagebox .best-button-box .box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-offwhite);
    font-weight: 500;
    font-size: 1.25rem;
}

.best .best-container .best-text1 {
    align-items:right;
    padding-left: 10rem;
    font-size: 150%;
}
/* ======================= END BEST ======================= */

/* ======================= START FOOTER ======================= */
.footer {
    background-color: var(--black-offblack);
}

.footer .footer-container {
    padding: 1.5rem 2rem 0.5rem 2rem;
}

.footer .footer-container .footer-up {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.footer .footer-container .footer-up .footer-up-left img {
    width: 100px;
}

.footer .footer-container .footer-up .footer-up-right {
    padding: 1rem;
}

.footer .footer-container .footer-up .footer-up-right img {
    padding: 0.2rem;
    width: 24px;
}

.footer .footer-container .footer-down {
    color: white;
}

.footer .footer-container .footer-down .footer-line {
    background-color: white;
    width: 100%;
    height: 0.1rem;
    margin-bottom: 0.2rem;
}

.footer .footer-container .footer-down p {
    font-size: 0.8rem;
}

@media only screen and (max-width: 640px) {
    .footer .footer-container{
        text-align: center;
    }
    .footer .footer-container .footer-up {
        display: block;
        padding-bottom: 1rem;
    }
    .footer .footer-container .footer-up .footer-up-right {
        padding: 0.5rem;
    }

    .footer .footer-container .footer-up .footer-up-left img {
        width: 120px;
    }
}
/* ======================= END FOOTER ======================= */
