@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px; 
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --white-offwhite:#EFECEA;
    --orange-lightorange:#F3BC6A;
    --orange-visualidentityorange:#EEA225;
    --grey-visualidentitygrey:#666666;
    --black-offblack:#0D0D0D;
}

::before,::after {
    box-sizing: border-box;
}


/* Show it is fixed to the top */
body {
    background-color: var(--white-offwhite);

    line-height: 1.5;
    font-size: 16px;
    font-family: 'Roboto Slab', sans-serif;
}

.main-container{
    height: 100%;
    width: 100%;
}


/*============================== LOADER ==============================*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.loader img {
    width: 17%;
}

.text-preloader {
    color: var(--orange-visualidentityorange);
}

@media only screen and (min-width: 1200px) and (max-width: 1399.98px),
(min-width: 992px) and (max-width: 1199.98px) {
  .loader img {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
(max-width: 767.98px) {
  .loader img {
    width: 25%;
  }
}

@media (max-width: 575.98px) {
  .loader img {
    width: 45%;
  }
}

.disappear {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* ======================= HEADER AND STARTING SCREEN ======================= */
a .nav-link {
    text-decoration: none;
    background-color: #0D0D0D;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 6rem;
    padding: 8px 12%;
    color: var(--grey-visualidentitygrey);
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99999;
}

header .options {
    display: flex;
}

header .logo-header img {
    width: auto;
    height: 80px;
}

header .nav-bar {
    display: flex;
    align-items: center;
}

header .nav-bar .nav-option {
    padding: 1rem;
    text-decoration: none;
    color: var(--grey-visualidentitygrey);
    transition: 0.3s;
}

header .nav-bar .nav-option:hover {
    color: var(--orange-visualidentityorange);
}

header .languages {
    display: flex;
    align-items: center;
    margin: 1rem;
}

header .languages li {
    list-style-type: none;
}

header #pt img, 
header #en img{
    width: 2.1rem;
    margin: 0.2rem;
}

.container-menu-nav {
    display: none;
    align-items: center;
    margin: 1.5rem 2rem;
    cursor: pointer;
}

.menu-nav {
    transform: scale(var(--ggs,1))
}
.menu-nav,
.menu-nav::after,
.menu-nav::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: currentColor;
    color: var(--grey-visualidentitygrey);
}

.menu-nav::after,
.menu-nav::before {
    content: "";
    position: absolute;
    top: -9px
}

.menu-nav::after {
    top: 9px
}

.options-phone {
    display: none;
    position: absolute;
    z-index: 999;
    text-align: center;
    margin: auto;
    height: 32rem;
    width: 100%;
    padding-top: 6rem;
    background-color: #fff;
    justify-content: center;
    box-shadow: 2px 0px 10px #000;
}

.options-phone .nav-option {
    padding: 1rem;
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.options-phone img {
    width: 60px;
}

.options-phone .nav-bar-phone {
    display: block;
}

.options-phone .languages-phone {
    padding: 1rem;
}

@media only screen and (max-width: 1120px){
    .container-menu-nav {
        display: flex;
    }
    header .nav-bar, header .languages {
        display: none;
    }
}

@media only screen and (max-width: 970px) {
    header {
        padding: 8px 6%;
    }
}

/* ======================= HOME PAGE ======================= */
.home-page {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
}

.home-page .background {
    background-image: url('../img/logos/IMG_6679.JPG');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2; 
    margin-top: 6rem;
    width: 100%;
    height: 100%;
}

.home-page .background::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #808080;
    z-index: -1;
    opacity: 75%;
}

.home-page .background .home-page-content {
    width: 100%;
    height: 41rem;
    text-align: center;
    padding: 9rem 0rem;
}

.home-page .background .home-page-content .home-page-title {
    height: 6rem;
}


.home-page .background .home-page-content h2 {
    font-size: 3rem;
    padding: 0 4rem;
}

.home-page .background .home-page-content p {
    font-size: 1.1rem;
}

.home-page .background .home-page-content .button-home {
    padding: 0.7rem 1.8rem;
    border: none;
    color: #fff;
    background-color: var(--orange-visualidentityorange);
    border-radius: 4rem;
    transition: 0.4s;
}

.home-page .background .home-page-content .button-home:hover {
    color: var(--orange-visualidentityorange);
    background-color: #fff;
}

.custom-shape-divider-bottom-1672270909 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 5;
    margin-top: 44.1rem;
}

.custom-shape-divider-bottom-1672270909 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1672270909 .shape-fill {
    fill: var(--white-offwhite);
}

.custom-shape-divider-bottom-1672270931 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 4;
    margin-top: 44rem;
}

.custom-shape-divider-bottom-1672270931 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1672270931 .shape-fill {
    fill: var(--orange-visualidentityorange)
}

/* ======================= pyramid ======================= */
.pyramid {
    width: 100%;
    height: 30rem;
    display: flex;
    color: #000;
    align-items: center;
    background-color: var(--white-offwhite);
    padding: 10rem;
}

/* ======================= Horário ======================= */
.schedule h1 {
    text-align: center;
}

.schedule .schedule-box {
    padding: 3px;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: end;
}

.schedule .schedule-box .button-box {
    position: absolute;
}

.schedule .schedule-box .button-box .button-div {
    display: flex;
    justify-content: end;
}

.schedule .schedule-box .my-button {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: var(--orange-visualidentityorange);
    border: none;
    cursor: pointer;
    position: relative;
  }
  

.plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.plus-line {
    width: 20px;
    height: 3px;
    background-color: var(--white-offwhite);
    position: absolute;
}
  
.plus-line-horizontal {
    transform: rotate(0deg);
}
  
.plus-line-vertical {
    transform: rotate(90deg);
}

.my-button:hover {
    background-color: var(--white-offwhite);
}

.my-button:hover .plus-line {
    background-color: var(--orange-visualidentityorange);
}

.dropdown {
    border-radius: 25px;
    width: 300px;
    height: 100px;
    background-color: var(--orange-visualidentityorange);
    display: none;
    flex-direction: column;
}
  
.top-section {
    flex: 1;
    background-color: var(--orange-visualidentityorange);
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: var(--white-offwhite);
}
  
.bottom-section {
    flex: 1;
    background-color: var(--orange-visualidentityorange);
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: var(--white-offwhite);
}

.top-section:hover {
    background-color: var(--white-offwhite);
    color: var(--orange-visualidentityorange);
}

.bottom-section:hover {
    background-color: var(--white-offwhite);
    color: var(--orange-visualidentityorange);
}
  
/* ======================= Categorias ======================= */

/* ======================= Contador ======================= */
.container-demo {
    padding: 2rem 0;
}

.container-demo .title-demo {
    text-align: center;
    margin-top: 2rem;
}

.container-demo .timer-demo {
    height: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-demo .demo-days,
.container-demo .demo-hours,
.container-demo .demo-minutes,
.container-demo .demo-seconds {
    height: 10rem;
    width: 8rem;
    margin: 0.8rem;
    padding: 1rem 0;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.container-demo .timer-demo h1 {
    font-size: 4rem;
    font-weight: 800;
    color: var(--white-offwhite);
}

.container-demo .timer-demo span {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-offwhite);
}

@media only screen and (max-width: 822px) {
    .container-demo .timer-demo {
        height: 9.6rem;
    }

    .container-demo .demo-days,
    .container-demo .demo-hours,
    .container-demo .demo-minutes,
    .container-demo .demo-seconds {
        height: 8rem;
        width: 6.4rem;
        margin: 0.6.4rem;
        padding: 0.8rem 0;
    }

    .container-demo .timer-demo h1 {
        font-size: 3.2rem;
    }

    .container-demo .timer-demo span {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 695px) {
    .container-demo .title-demo {
        margin-top: 3rem;
    }
    .container-demo .timer-demo {
        height: 7.6rem;
    }

    .container-demo .demo-days,
    .container-demo .demo-hours,
    .container-demo .demo-minutes,
    .container-demo .demo-seconds {
        height: 7rem;
        width: 5.4rem;
        margin: 0.7rem;
        padding: 0.48rem 0;
    }

    .container-demo .timer-demo h1 {
        font-size: 2.4rem;
    }

    .container-demo .timer-demo span {
        font-size: 0.9rem;
    }
}

/* ======================= Fotos ======================= */

/* ======================= Júris ======================= */

/* ======================= Parceiros ======================= */


/* ======================= FAQ ======================= */
.faq-container {
    /*
    display: grid;
    align-content: center;
    */
    height: 50rem;
    padding: 10% 20%;
    background-color: var(--white-offwhite);
}

.faq-container h1 {
    text-align: center;
    padding: 1rem;
    font-size: 4rem;
}

.faq-container li {
    border-radius: 5px;
    list-style-type: none;
    background-color: white;
    transform: translateY(0.45em);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.faq-container li .question {
    padding: 10px 30px;
    margin: 2px 0px;
    border-radius: 5px;
    transition: 0.6s;
    cursor: default;
}

.faq-container .tira {
    position: absolute;
    height: 100%;
    width: 10px;
    background-color: #EEA225;
    border-radius: 5px 0 0 5px;
}

.faq-container p {
    color: var(--grey-visualidentitygrey);
    background-color: white;
    border-radius: 5px;
    margin: 0;
}

.response-1, .response-2, .response-3, .response-4, .response-5, .response-6, .response-7 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out;
    padding: 0 35px;
}

#seta {
    position: relative;
    padding: 6px;
    box-shadow: 2px -2px 0 0.5px var(--orange-visualidentityorange) inset;
    margin: 4px;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    float: right;
    cursor: pointer;
    transition: 0.4s;
}

/* ======================= Equipa ======================= */
.team-container {
   
    height: 40rem;
    padding: 8rem;
}

.team-container h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.team-container .equipa-box {
    width: 50rem; 
    height: 27rem;
    background-color: red;
    margin:auto; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(3, 9rem);
  }
  
  .grid-item {
    /* Add some basic styling to the grid items */
    border: 1px solid black;
    text-align: center;
    border: 3px solid rgb(26, 226, 0);
  }

/* ======================= Organização ======================= */

/* ======================= Footer ======================= */
