@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px; 
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --white-offwhite:#EFECEA;
    --orange-lightorange:#F3BC6A;
    --orange-visualidentityorange:#EEA225;
    --grey-visualidentitygrey:#666666;
    --black-offblack:#0D0D0D;
}

::before,::after {
    box-sizing: border-box;
}


/* Show it is fixed to the top */
body {
    background-color: var(--white-offwhite);

    line-height: 1.5;
    font-size: 16px;
    font-family: 'Roboto Slab', sans-serif;
}

.main-container{
    height: 100%;
    width: 100%;
}


/*============================== LOADER ==============================*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.loader img {
    width: 17%;
}

.text-preloader {
    color: var(--orange-visualidentityorange);
}

@media only screen and (min-width: 1200px) and (max-width: 1399.98px),
(min-width: 992px) and (max-width: 1199.98px) {
  .loader img {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
(max-width: 767.98px) {
  .loader img {
    width: 25%;
  }
}

@media (max-width: 575.98px) {
  .loader img {
    width: 45%;
  }
}

.disappear {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* ======================= HEADER AND STARTING SCREEN ======================= */
a .nav-link {
    text-decoration: none;
    background-color: #0D0D0D;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 6rem;
    padding: 8px 12%;
    color: var(--grey-visualidentitygrey);
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99999;
}

header .options {
    display: flex;
}

header .logo-header img {
    width: auto;
    height: 80px;
}

header .nav-bar {
    display: flex;
    align-items: center;
}

header .nav-bar .nav-option {
    padding: 1rem;
    text-decoration: none;
    color: var(--grey-visualidentitygrey);
    transition: 0.3s;
}

header .nav-bar .nav-option:hover {
    color: var(--orange-visualidentityorange);
}

header .languages {
    padding: 1rem;
}

header .languages li {
    list-style-type: none;
}

header #pt img, 
header #en img{
    width: 2.1rem;
}

/* ======================= HOME PAGE ======================= */
.home-page {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
}

.home-page .background {
    background-image: url('../img/logos/IMG_6679.JPG');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2; 
    margin-top: 6rem;
    width: 100%;
    height: 100%;
}

.home-page .background::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #808080;
    z-index: -1;
    opacity: 75%;
}

.home-page .background .home-page-content {
    width: 100%;
    height: 41rem;
    text-align: center;
    padding: 15rem 0rem;
}

.home-page .background .home-page-content h2 {
    font-size: 3rem;
}

.home-page .background .home-page-content p {
    font-size: 1.1rem;
}

.home-page .background .home-page-content .button-home {
    padding: 0.7rem 1.8rem;
    border: none;
    color: #fff;
    background-color: var(--orange-visualidentityorange);
    border-radius: 4rem;
    transition: 0.4s;
}

.home-page .background .home-page-content .button-home:hover {
    color: var(--orange-visualidentityorange);
    background-color: #fff;
}

.custom-shape-divider-bottom-1672270909 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 5;
    margin-top: 41.1rem;
}

.custom-shape-divider-bottom-1672270909 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1672270909 .shape-fill {
    fill: var(--white-offwhite);
}

.custom-shape-divider-bottom-1672270931 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 4;
    margin-top: 41rem;
}

.custom-shape-divider-bottom-1672270931 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1672270931 .shape-fill {
    fill: var(--orange-visualidentityorange)
}

/* ======================= pyramid ======================= */
.pyramid {
    width: 100%;
    height: 30rem;
    display: flex;
    color: #000;
    align-items: center;
    background-color: var(--white-offwhite);
    padding: 10rem;
}

/* ======================= FAQ ======================= */

.faq-container {
    height: 50rem;
    padding: 10% 20%;
    background-color: var(--white-offwhite);
}

.faq-container h1 {
    text-align: center;
    padding: 1rem;
    font-size: 4rem;
}

.faq-container li {
    border-radius: 5px;
    list-style-type: none;
    background-color: white;
    transform: translateY(0.45em);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.faq-container li .question {
    padding: 10px 30px;
    margin: 2px 0px;
    border-radius: 5px;
    transition: 0.6s;
    cursor: default;
}

.faq-container .tira {
    position: absolute;
    height: 100%;
    width: 10px;
    background-color: #EEA225;
    border-radius: 5px 0 0 5px;
}

.faq-container p {
    color: var(--grey-visualidentitygrey);
    background-color: white;
    border-radius: 5px;
    padding: 20px 35px 15px 35px;
    margin: 0;
}

.response-1, .response-2, .response-3, .response-4, .response-5, .response-6, .response-7 {
    display: none;
}

#seta {
    position: relative;
    padding: 6px;
    box-shadow: 2px -2px 0 0.5px var(--orange-visualidentityorange) inset;
    margin: 4px;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    float: right;
    cursor: pointer;
    transition: 0.4s;
}

